.fee-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background: rgb(18, 6, 71);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.student-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.fee-box {
    padding: 10px;
    background: #fafafa;
    margin: 10px 0;
    border-radius: 5px;
}

.btn-paid {
    background: green;
    color: white;
    margin-right: 10px;
}

.btn-unpaid {
    background: red;
    color: white;
}